In [1]:
from IPython.core.display import display, HTML, Image
display(HTML("<style>.container { width:95% !important; }</style>"))
%config IPCompleter.use_jedi=False

In [3]:
import pandas as pd

In [10]:
file_1 = '../data/external/torontobookcorpus/books_large_p1.txt'
file_2 = '../data/external/torontobookcorpus/books_large_p2.txt'

In [50]:
# https://github.com/huggingface/datasets/blob/master/datasets/bookcorpus/bookcorpus.py
def gen_data():
    ix = 0
    for file in [file_1, file_2]:
        with open(file, mode="r", encoding="utf-8") as f:
            for line in f:
                yield {'ix':ix, "text": line.strip()}
                ix += 1

In [51]:
%%time
d = gen_data()
corpus = pd.DataFrame(d)

CPU times: user 2min 30s, sys: 7.81 s, total: 2min 38s
Wall time: 2min 38s

In [70]:
%%time
corpus[['text']].to_parquet('../data/processed/torontobookcorpus/corpus.parquet')

CPU times: user 26.1 s, sys: 2.84 s, total: 29 s
Wall time: 29.7 s

In [63]:
corpus[['text']]

                                                       text
0         the half-ling book one in the fall of igneeria...
1         isbn : 1492913731 isbn-13 : 978-1492913733 for...
2           i wish i had a better answer to that question .
3         starlings , new york is not the place youd exp...
4         its a small quiet town , the kind where everyo...
...                                                     ...
74004223                 he crawled up my body to kiss me .
74004224             `` and you 're the best husband ever .
74004225          now , make me scream your name again . ''
74004226                               no regrets in love .
74004227                                             ever .

[74004228 rows x 1 columns]

In [69]:
corpus.tail(100)['text']

74004128             i ca n't believe it 's already here . ''
74004129    i streaked over to her bedside and looked down...
74004130    i still could n't believe they chose to not fi...
74004131                                         `` tell me .
74004132                                     boy or girl ? ''
                                  ...
74004223                   he crawled up my body to kiss me .
74004224               `` and you 're the best husband ever .
74004225            now , make me scream your name again . ''
74004226                                 no regrets in love .
74004227                                               ever .
Name: text, Length: 100, dtype: object

In [61]:
%%time
df = pd.read_parquet('../data/processed/torontobookcorpus/corpus.parquet')

CPU times: user 31.6 s, sys: 7.13 s, total: 38.7 s
Wall time: 36 s

In [62]:
df.head()

   ix                                               text
0   0  the half-ling book one in the fall of igneeria...
1   1  isbn : 1492913731 isbn-13 : 978-1492913733 for...
2   2    i wish i had a better answer to that question .
3   3  starlings , new york is not the place youd exp...
4   4  its a small quiet town , the kind where everyo...